.feedback {
  padding: 10px;

  font-size: 16px;
  margin: 0 15px 0 15px;
  border-radius: 4px;
}

.feedback-container {
  display: flex;
  flex-direction: row;
  justify-content: center;
}
.feedback-footer {
  position: absolute;
  bottom: 0;
  height: 50px;
  line-height: 50px;
  width: calc(100% - 15px);
  padding-left: 15px;
  background-color: #41307c;
}

.feedback-heading {
  height: 50px;
  line-height: 50px;
  width: calc(100% - 15px);
  padding-left: 15px;
  white-space: nowrap;
  font-family: "Source Sans Pro", sans-serif;
  background-color: #41307c;
  font-size: 20px;
  color: #fff;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
}

.feedback-wrapper {
  position: relative;
  vertical-align: top;
  background-color: #fff !important;
  width: 460px;
  margin-left: 20px;
  box-shadow: 0 0 0 1px #d4d4d5, 0 2px 4px 0 rgba(34, 36, 38, 0.12),
    0 2px 10px 0 rgba(34, 36, 38, 0.15);
}

.widget-box {
  width: 700px;
  background-color: #fff;
  box-shadow: 0 0 0 1px #d4d4d5, 0 2px 4px 0 rgba(34, 36, 38, 0.12),
    0 2px 10px 0 rgba(34, 36, 38, 0.15);
  box-sizing: border-box;
  border-radius: 4px;
  position: relative;
}

/* Testing....*/
.content-wrapper {
  box-sizing: border-box;
  overflow: hidden;
  height: auto;
  margin: 10px 0;
  transition: all ease 0.5s;
  border-radius: 3px;
  box-shadow: 0 0 4px 0 black;
  opacity: 1;
  margin-top: 5px;
}
.content {
  display: flex;
  border-radius: 3px;
  color: #eee;
  font-size: 16px;
  background-color: #262626;
  vertical-align: bottom;
}

.content > .status {
  width: 25px;
  margin-right: 10px;
  border-radius: 3px 0 0 3px;
  background-color: transparent;
}
.content > .sucess {
  background-color: #4caf50;
}
.content > .warning {
  background-color: #ff9800;
}
.content > .error {
  background-color: #b90909;
}
.content > .info {
  background-color: #2196f3;
}

.feedback-message {
  padding: 12px;
}

.feedback > .dismiss {
  margin-left: 15px;
  background-color: #ffffff !important;
  color: #000000;
  /* opacity: 0.26; */
  font-weight: bold;
  float: right;
  text-align: center;
  font-size: 20px;
  cursor: pointer;
  border: none;
  border-radius: 50%;
}

.feedback > .dismiss:hover {
  color: black;
}

.feedback-button {
  display: block;
  position: relative;
  top: 5px;
  left: -15px;
  margin: 0 auto;
  width: 120px;
  height: 25px;
  padding: 5px;
  font-weight: 700;
  text-align: center;
  line-height: 25px;
  color: #fff;
  transition: all 0.05s;
  background: #5f3ed6;
  box-shadow: 0px 3px 0px 0px #625f6b;
}

.feedback-button:hover {
  background-color: #56429e;
  cursor: pointer;
}

.feedback-button:active {
  /* margin-top: 3px; */
  transform: translateY(3px);
  box-shadow: 0px 0px 0px 0px #3a3742;
}
