.feedback {
  padding: 10px;
  background-color: #607d8b !important;
  border-color: #607d8b !important;
  font-size: 16px;
  margin-bottom: 10px;
  border-radius: 4px;
  color: white;
}

.feedback.sucess {
  background-color: #4caf50 !important;
  border-color: #4caf50 !important;
}

.feedback > .border {
  opacity: 0.26;
  color: #ffffff;
}

.feedback > .closebtn {
  margin-left: 15px;
  background-color: #fb8c00 !important;
  color: white;
  /* opacity: 0.26; */
  /* font-weight: bold; */
  float: right;
  font-size: 20px;
  line-height: 22px;
  cursor: pointer;
  transition: 0.3s;
  border: none;
  border-radius: 50%;
}

.feedback > .closebtn:hover {
  color: black;
}
